{% set url = path('ads_single', {'slug': ad.slug}) %}
<div class="col-md-4">
    <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">{{ad.rooms}} chambres, {{ad.price}} &euro;/nuit</div>
        <div class="card-body">
            <a href="{{url}}" class="">
                <img class="img-fluid" src="{{ad.coverImage}}" alt="{{ad.title}}">
            </a>
         
            <h6 class="card-title mt-2">{{ad.title}}</h6>
            <p class="card-text">{{ad.introduction}}</p>
            <a href="{{url}}" class="btn btn-primary">+ d'infos !</a>
            {% if app.user and app.user == ad.author%}
            <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-warning">Edit !</a>
            <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger">Delete !</a>
            {% endif %}
        </div>
        <div class="card-footer text-muted">
            {% if ad.comments|length > 0 %}
            
            Note : <p>{% include 'inc/rating.html.twig' with {'rating':ad.averageRatings} %} <small>avec {{ ad.comments|length }} avis. </small></p>

            {% else %}

            Annonces non notées !
  
            {% endif %}
            
        </div>
    </div>  
</div>