{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}

<div class="ad-title pb-2" style="background-image: url('{{ ad.coverImage }}');">
    <div class="container mb-3">
        <h1 class"text-secondary">{{ad.title}}</h1>
        <p class"text-secondary">{{ad.introduction}}</p>
        <p class="h5 text-secondary">{{ad.rooms}} chambres, {{ad.price}} &euro;/nuit</p>
        <a href="{{ path('app_booking_create', {'slug': ad.slug}) }}" class="btn btn-info">Réserver !</a>
        {% if app.user and app.user == ad.author%}
        <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-warning">Edit !</a>
        <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" onclick="return confirm(`Voulez-vous variment supprimer cette annonce ?`)" class="btn btn-danger">Delete !</a>
        {% endif %}
      </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ ad.content|raw }}
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  {% for image in ad.images %}
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{loop.index0}}" class="{%if loop.first%}active{%endif%}" aria-current="true" aria-label="Slide 1"></button>
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for image in ad.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                      <img src="{{image.url}}" class="d-block w-100" alt="{{ad.title}}">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>{{ad.title}}</h5>
                        <p>{{image.caption}}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
             
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

        <div class="col ms-3">
          {% set a = ad.author%}
            <div class="row">
                <div class="col-md-3"> 
                  <a href="{{path('app_user_show',{'slug':a.slug})}}">
                    <img class="img-fluid" src="{{a.avatar}}" alt="{{a.fullname}}">
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="{{path('app_user_show',{'slug':a.slug})}}">
                      <h3>{{a.fullname}}</h3>
                  </a>
                    <span class="badge bg-info">{{a.ads|length}}{%if a.ads|length > 1 %} annonces {%else%} annonce {%endif%}</span>
                </div>
            </div>
            <div class="col py-3">
              <p>{{a.introduction | raw}}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
